<h2 mat-dialog-title>{{ editMode ? "Update user" : "Add user" }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        required
        matInput
        placeholder="Enter name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput placeholder="Enter surname" formControlName="surname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birthdate</mat-label>
      <input
        required
        matInput
        placeholder="Enter Birthdate"
        formControlName="birthDate"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input
        required
        matInput
        placeholder="Enter phone"
        formControlName="phone"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input
        required
        matInput
        placeholder="Enter city"
        formControlName="city"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input
        required
        matInput
        placeholder="Enter street"
        formControlName="street"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input
        required
        type="number"
        matInput
        placeholder="Enter number"
        formControlName="number"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="saveForm()"
    cdkFocusInitial
    [disabled]="!form.valid"
  >
    Save
  </button>
</mat-dialog-actions>
